@import url("../third-party/font-awesome.min.css");
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto.woff") format("woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color:#333333;
	outline: none;
}
h1, h2, h3, h4, h5{
	font-size: initial;
	font-weight: initial;
} 
.container {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
}
.block-scroll{
	overflow-y: hidden;
}
body{
	position: relative;
}

.full-width{
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}


/* @media screen and (max-width: 1200px){
    .container{
        max-width:1100px;
    }
}

@media screen and (max-width: 992px){
    .container{
        max-width:900px;
    }
} */
/* @media screen and (min-width:1500px){
	.container{
		padding:0 40px;
	}
} */

@media screen and (max-width: 767px){
    .container{
        padding:0 20px;
    }
}




/* Buttons */
.button-block__button {
	position: relative;
	width: 100%;
	padding: 20px;
	text-align: center;
	box-shadow: none;
	background: transparent;
	border:2px solid #000;
}

.button-block__button + .button-block__button {
    /* Margin Between Buttons */
    margin-top: var(--margin-value);
}

/* Icon inside button */
.button-block__icon {
	min-width: 12px;
	min-height: 12px;
}
.button-block__icon::before {
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
}